/* Create button css that is easy for eyes to see */
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
}

/* on hover make color bit highlight with same background color */
.button:hover {
  opacity: 0.8;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* button onclick should srink */
.button:active {
  transform: scale(0.98);
}

/* for selected button make it look unique play with boarder and also with background color */
.selected,
.button:active {
  background-color: #add8e6;
}

.error {
  background-color: #f44336; /* Red */
}
.warning {
  background-color: #ff9800; /* Orange */
}
.success {
  background-color: #4caf50; /* Green */
}
.info {
  background-color: #2196f3; /* Blue */
}
