/* Create button css that is easy for eyes to see */
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button:active {
  background-color: #3e8e41;
}

/* button onclick should srink */
.button:active {
  transform: scale(0.98);
}

/* for selected button make it look unique play with boarder and also with background color */
.selected {
  background-color: #add8e6;
}

.error {
  background-color: #f44336; /* Red */
}
.warning {
  background-color: #ff9800; /* Orange */
}
.success {
  background-color: #4caf50; /* Green */
}
.info {
  background-color: #2196f3; /* Blue */
}
