@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font {
  margin: 0;
  font-family: "rubik", sans-serif;
}

.bold {
  font-weight: bold;
}

.divider {
  height: 1px;
  background-color: #ccc;
  margin: 1rem 0;
}

.spacer {
  margin: 1rem 0;
}
